@import url('./base.css');
@import url('./header.css');
@import url('./primaryNavigation.css');
@import url('./highlights.css');
@import url('./slider.css');
@import url('./formValidation.css');
@import url('./footer.css');

:root{
    --clr-primary: #f0f07f;
    --clr-secondary: #885e0f;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: var(--clr-secondary);
}

/* for screenreader users */
.sr-only{
    position: fixed;
    visibility: hidden;
    display: block;
    height: 1px;
    width: 1px;
    overflow: hidden;
}